<mat-drawer-container class="example-container" autosize>

    <mat-nav-list>

        <!-- <div class="profile-card">
        <div class="header">
          <h2>Soufiane FADIL</h2>
          <h4>example@email.com</h4>
        </div>
        <img src="https://preview.redd.it/fdiyn4l9cfl91.jpg?auto=webp&s=cb9ec92cfa6e32782e708a002db3ddacb2c4afb8"
          alt="Soufiane FADIL">
      </div> -->

        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/dashboard"  [ngClass]="{'active': dashboard == true}" (click)="activePageChange('dashboard')">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/homemaster" [ngClass]="{'active': home == true}" (click)="activePageChange('home')">Home Master</a>
        <a mat-list-item routerLink="list-item-active" routerLink="/admin/layout/aboutusmaster" [ngClass]="{'active': about == true}" (click)="activePageChange('about')">About Master</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/seasonwisemaster"[ngClass]="{'active': seasonwise == true}" (click)="activePageChange('seasonwise')">Season Master</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/productmaster" [ngClass]="{'active': gallery == true}" (click)="activePageChange('gallery')">Product Master</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/contactusmaster" [ngClass]="{'active': contactus == true}" (click)="activePageChange('contactus')">Contact Master</a>
        <!-- <h2 matSubheader>Tools</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
      </a> -->

    </mat-nav-list>
</mat-drawer-container>