<mat-drawer-container class="example-container" autosize>

    <mat-nav-list>

        <!-- <div class="profile-card">
        <div class="header">
          <h2>Soufiane FADIL</h2>
          <h4>example@email.com</h4>
        </div>
        <img src="https://preview.redd.it/fdiyn4l9cfl91.jpg?auto=webp&s=cb9ec92cfa6e32782e708a002db3ddacb2c4afb8"
          alt="Soufiane FADIL">
      </div> -->

        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/dashboard">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/homemaster">Home</a>
        <a mat-list-item routerLink="list-item-active" routerLink="/admin/layout/aboutusmaster">About Us</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/gallerymaster">Gallery</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/seasonwisemaster">Season Wise</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/layout/contactusmaster">Contact Us</a>
        <!-- <h2 matSubheader>Tools</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
      </a> -->

    </mat-nav-list>
</mat-drawer-container>