
<form class="card g-3 row needs-validation" novalidate [formGroup]="BannerMasterForm">
    <mat-card class="matcardstyle matcard  body">
        <div class="container">
            <div class="contaier">
                <br>
                <h1 class="text-center"></h1>
                <div class="row">
                    <div class="col-md 12 ">
                        <h4 class="heading"><b>Home Master</b></h4>
                    </div>
                </div>

                <hr class="hrstyle">
                
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Banner Name</mat-label>
                            <input matInput placeholder="banner Name" formControlName="bannerName" [(ngModel)]="BannerMasterModel.bannerName"
                                 minlength="1">
                            <mat-error
                                *ngIf="BannerMasterForm.get('bannerName')?.hasError('required') && BannerMasterForm.get('bannerName')?.touched">
                                Banner Name is required</mat-error>
                            <mat-error
                                *ngIf="BannerMasterForm.get('bannerName')?.hasError('pattern') && BannerMasterForm.get('bannerName')?.touched">
                                Allows Only Characters </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- startNumber -->

                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Banner Description</mat-label>
                            <input matInput placeholder="Banner Description" formControlName="bannerDescription" [(ngModel)]="BannerMasterModel.bannerDescription"
                                minlength="1">
                            <mat-error
                                *ngIf="BannerMasterForm.get('bannerDescription')?.hasError('required') && BannerMasterForm.get('bannerDescription')?.touched">
                                Banner Description is required</mat-error>
                            <mat-error
                                *ngIf="BannerMasterForm.get('bannerDescription')?.hasError('pattern') && BannerMasterForm.get('bannerDescription')?.touched">
                                Allows Only Characters</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Banner Type</mat-label>
                            <input matInput placeholder="Banner Type" formControlName="bannerType" [(ngModel)]="BannerMasterModel.bannerType"
                                minlength="1">
                            <mat-error
                                *ngIf="BannerMasterForm.get('bannerType')?.hasError('required') && BannerMasterForm.get('bannerType')?.touched">
                                Banner Type is required</mat-error>
                        </mat-form-field>
                    </div>


                   
                    <!-- </div> -->

                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-label class="photo">Upload Photo</mat-label>
                        <input type="file" #files (change)="handleFileInput($event)" formControlName="bannerPath" />
                    </div>
                    <div class="form-group col-md-4">
                        <img [src]="BannerMasterModel.bannerPath" height="150" width="250">
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <input matInput [matDatepicker]="picker" placeholder="Start Date" formControlName="startDate"
                                [(ngModel)]="BannerMasterModel.startDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error
                                *ngIf="BannerMasterForm.get('startDate')?.hasError('required') && BannerMasterForm.get('startDate')?.touched">
                                Start Date is required</mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <input matInput [matDatepicker]="picker1" placeholder="End Date" formControlName="endDate"
                                [(ngModel)]="BannerMasterModel.endDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error
                                *ngIf="BannerMasterForm.get('endDate')?.hasError('required') && BannerMasterForm.get('endDate')?.touched">
                                End Date is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col-md-4">
                        <mat-form-field class="example-full-width" style="width:100%;" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select matInput formControlName="status">
                                <mat-option>Select Status</mat-option>
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="Inactive">Inactive</mat-option>
                            </mat-select>
                            <mat-error
                            *ngIf="BannerMasterForm.get('status')?.hasError('required') && BannerMasterForm.get('status')?.touched">
                            Status is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button *ngIf="issubmit" class="btn btnS" (click)="submit()">Submit</button>
                        <!-- submit btn -->

                        <button *ngIf="isupdate"  class="btn btnS" (click)="update()">update</button>
                        <!-- update btn -->

                    </div>
                </div>

            </div>
        </div>
    </mat-card>
</form>

<!-- ///table/// -->
<mat-card class="mt-5">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
    </div>

    <div class="table-responsive" #epltable>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
            <ng-container matColumnDef="Sr.No.">
                <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                <td mat-cell *matCellDef="let element; index as i;">
                    {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="bannerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Banner Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.bannerName}} </td>
            </ng-container>


            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element?.startDate}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-primary square" (click)="edit(element)"><i
                        class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"
            [showFirstLastButtons]="true"></mat-paginator>

    </div>
</mat-card>