<footer>
   

    <div class="footer-container container">
     
      <div class="content_1">
        <img class="image" src="../../../assets/images/logo.jpg" alt="logo">
        <p>The customer is at the heart of our<br>unique business model, which includes<br>design.</p>
        <p>Be the first to know about new<br>arrivals, look books, sales & promos!</p>
        <!-- <img src="https://i.postimg.cc/Nj9dgJ98/cards.png" alt="cards"> -->
      </div>
      <div class="content_2">
        <h4>SHOPPING</h4>
        <a href="/gallery">Top Clothing</a>
        <a href="/gallery">Trending Kurta</a>
        <a href="/gallery">Jeans</a>
        <a href="/gallery">T-shirt</a>
        <a href="/gallery">Leggins</a>
        <a href="/gallery">Shirt</a>
      </div>
      <div class="content_3">
        <h4>Quick Links</h4>
        <a href="/aboutus" target="_blank">About Us</a>
        <a href="/gallery" target="_blank">Gallery</a>
        <a href="seasonwise" target="_blank">Season Wise</a>
        <a href="contactus" target="_blank">Contact Us</a>
      </div>
      <div class="content_4">
        <h4>Reachout To Us</h4>
        <h5 class="text-white">Address</h5>
        <p>Rajdhani Complex, Office No. A/409, <br>
             4th Floor, Near Shankar Mahar-Saj Math<br>
              Puneatara Road, Pune 411043</p>
        <!-- <div class="f-mail">
          <input type="email" placeholder="Your Email">
          <i class='bx bx-envelope'></i>
        </div> -->
        <hr>
      </div>
    </div>
    <!-- <div class="f-design">
      <div class="f-design-txt container">
        <p>Design and Code by Amol Patil</p>
      </div>
    </div> -->
  </footer>