<section class=" top-txt ">
</section>
<nav class="navbar">
  <div class="navbar-container">
    <input type="checkbox" name="" id="checkbox">
    <div class="hamburger-lines">
      <span class="line line1"></span>  
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li><a href="#home">Home</a></li>
      <li><a href="#about-us" routerLink="/aboutus">About Us</a></li>
      <!-- <li><a href="#sellers" routerLink="/shop">Shop</a></li> -->
      <li><a href="#news" routerLink="/gallery">Gallery</a></li>
      <li><a href="#news" routerLink="/seasonwise">Season Wise</a></li>
      
      <li><a href="#contact" routerLink="/contactus">Contact Us</a></li>
      <li><a href="#mycart" routerLink="/mycart" id="cart-icon" class='bx bx-cart'></a></li>
      <li><a href="#wishlist" routerLink="/wishlist" id="cart-icon" class='bx bx-heart'></a></li>
    </ul>
    <div class="logo">
      <img class="logo1" src="../../../assets/images/logo.jpg" alt="" width="100px" height="100px">
    </div>
  </div>
</nav>