<form class="card g-3 row needs-validation" novalidate [formGroup]="ProductMasterForm">
    <mat-card class="matcardstyle matcard  body">
        <div class="container">
            <div class="contaier">
                <br>
                <h1 class="text-center"></h1>
                <div class="row">
                    <div class="col-md 12 ">
                        <h4 class="heading"><b>Home Master</b></h4>
                    </div>
                </div>

                <hr class="hrstyle">

                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-label class="photo">Upload Photo</mat-label>
                        <input type="file" #files (change)="handleFileInput($event)" formControlName="productImage" />
                    </div>

                    <div class="form-group col-md-4">
                        <img [src]="ProductMasterModel.productImage" height="150" width="250">
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Name</mat-label>
                            <input matInput placeholder=" Name" formControlName="name"
                                [(ngModel)]="ProductMasterModel.name" minlength="1">
                            <mat-error
                                *ngIf="ProductMasterForm.get('name')?.hasError('required') && ProductMasterForm.get('name')?.touched">
                                Name is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Description</mat-label>
                            <input matInput placeholder="Description" formControlName="description"
                                [(ngModel)]="ProductMasterModel.description" minlength="1">
                            <mat-error
                                *ngIf="ProductMasterForm.get('description')?.hasError('required') && ProductMasterForm.get('description')?.touched">
                                description is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Whatsapp Number</mat-label>
                            <input matInput placeholder="whatsapp Number" formControlName="whatsappNo"
                                [(ngModel)]="ProductMasterModel.whatsappNo" minlength="1">
                            <mat-error
                                *ngIf="ProductMasterForm.get('whatsappNo')?.hasError('required') && ProductMasterForm.get('whatsappNo')?.touched">
                                whatsappNo is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Season Type</mat-label>
                            <mat-select formControlName="seasonId" [(ngModel)]="ProductMasterModel.seasonId" >
                              <mat-option *ngFor="let food of foods" [value]="food.seasonId">
                                {{food.seasonName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label class="">Mrp</mat-label>
                            <input matInput placeholder="Mrp" formControlName="mrp"
                                [(ngModel)]="ProductMasterModel.mrp" minlength="1">
                            <mat-error
                                *ngIf="ProductMasterForm.get('mrp')?.hasError('required') && ProductMasterForm.get('mrp')?.touched">
                                mrp is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col-md-4">
                        <mat-form-field class="example-full-width" style="width:100%;" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select matInput [(ngModel)]="ProductMasterModel.status" formControlName="status">
                                <mat-option>Select Status</mat-option>
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="Inactive">Inactive</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="ProductMasterForm.get('status')?.hasError('required') && ProductMasterForm.get('status')?.touched">
                                Status is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button *ngIf="issubmit" class="btn btnS" (click)="submit()">Submit</button>
                        <!-- submit btn -->

                        <button *ngIf="isupdate" class="btn btnS" (click)="update()">update</button>
                        <!-- update btn -->

                    </div>
                </div>

            </div>
        </div>
    </mat-card>
</form>

<!-- ///table/// -->
<mat-card class="mt-5">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
    </div>

    <div class="table-responsive" #epltable>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
            <ng-container matColumnDef="Sr.No.">
                <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                <td mat-cell *matCellDef="let element; index as i;">
                    {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
            </ng-container>


            <ng-container matColumnDef="whatsappNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Whatsapp Number</th>
                <td mat-cell *matCellDef="let element"> {{element?.whatsappNo}} </td>
            </ng-container>

            <ng-container matColumnDef="productImage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Image</th>
                <td mat-cell *matCellDef="let element"> {{element?.productImage}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let element"> {{element?.type}} </td>
            </ng-container>
            <ng-container matColumnDef="mrp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mrp</th>
                <td mat-cell *matCellDef="let element"> {{element?.mrp}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-primary square" (click)="edit(element)"><i
                        class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"
            [showFirstLastButtons]="true"></mat-paginator>

    </div>
</mat-card>