.example-spacer {
    flex: 1 1 auto;
    
  }
  .container-fluid{
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  }

  ::ng-deep .mat-icon{
    color: #FFF;
  }
  ::ng-deep .mat-toolbar {
    background-color: #000; 
  }
  .dropdown-item{
    text-align: center;
  }
  

  .logo{
    width: 140px;
  }